@using System.Data;
@model DataTable
<table style="width:500px" class="table">
    <thead>
        <tr>
            <th style="text-align:left;">ID</th>
            <th style="width:150px;text-align:left;">Nombre</th>
            <th style="width:150px;text-align:left;">Apellidos</th>
            <th style="width:150px;text-align:left;">Correo</th>
            <th style="width:150px;text-align:left;">Ciudad</th>
            <th style="width:150px;text-align:left;">Tipo de Usuario</th>
            <th style="width:150px;text-align:left;">Fecha de Registro</th>
            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr id="fila_@row["ID"]">
                <td>@row["ID"]</td>
                <td style="width:150px;text-align:left;">@row["Nombre"]</td>
                <td style="width:150px;text-align:left;">@row["Apellidos"]</td>
                <td style="width:150px;text-align:left;">@row["Correo"]</td>
                <td style="width:150px;text-align:left;">@row["NombreCiudad"]</td>
                <td style="width:150px;text-align:left;">@row["tipo"]</td>
                <td style="width:150px;text-align:left;">@row["FechaRegistro"]</td>

                <td style="width:350px;">
                    <a title="Editar" onclick="llena_datos(@row["ID"],'@row["tipo"]',@row["IDtipo"])" class="btn btn-primary" style="cursor:pointer">Editar</a>

              
                    <a title="Eliminar" onclick="elimina(@row["ID"])" class="btn btn-danger"  style="cursor:pointer">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

